/* * {
    font-family: Roboto;
} */

.taskbody {
    width: 100%;
    overflow-y: initial;
}

.infomodal {
    border-radius: 14px;
    height: 645px;
    width: 670px;
    background: gray;
    /* position: relative; */
    top: 140px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.black {
    background: #000E55;
    border: 2px solid rgba(255, 255, 255, 0.63) !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.none {
    display: none !important
}

.task-modal {
    background-color: white;
    border-radius: 14px;
    /* height: 645px; */
    width: 570px;
    top: 140px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#taskcontainer {
    width: 100%;
}

.blue-text {
    color: #212D5B;
}

.gray-border {
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 7.4px;
    padding: 10px;
}

.big-text {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
}

.small-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center {
    justify-content: center !important;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#picture {
    border-radius: 50%;
    width: 109px;
    height: 109px;
}

.relative {
    position: relative;
}

.close-modal {
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
}


/* .point {} */

#task-point {
    border-bottom: 1px solid #CBCBCB;
    width: 100%;
    margin-left: 8px;
}

#task-description {
    height: 112px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.assign-task-btn {
    background: #212D5B;
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 235px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.task-body {
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    width: 100%;
    border-radius: 7.4px;
    margin-top: 8px;
    background-color: white;
    padding: 10px;
}

.container {
    background-color: white;
    width: 100%;
    min-height: 500px;
    border-radius: 14px;
    overflow-y: scroll;
}

.task-side {
    display: flex;
    padding: 30px;
    flex-direction: row;
}

.info {
    gap: 13px;
}

.bold {
    font-weight: bold;
}

.task-general {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.date {
    font-size: 12px;
}

.main {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(167deg, rgba(8, 27, 86, 1) 0%, rgba(166, 131, 195, 1) 45%, rgba(255, 210, 189, 1) 100%);
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.side-button {
    width: 180px;
    height: 32px;
    border: none;
    border-radius: 30.9721px;
    margin-bottom: 10px;
    cursor: pointer;
}


/* wish */

.add-wish {
    padding: 8px;
    width: 100%;
    background: #FFFFFF;
    border: 3px solid #1E2A67;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
}

#wish-container {
    width: 100%;
}

.wish-body {
    justify-content: start;
    padding-left: 30px;
    gap: 30px;
    cursor: pointer;
}

.wishlist {
    /* overflow-y: scroll; */
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.w100 {
    width: 100%;
}

.wishmodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.wishmodal-firstcolumn {
    display: flex;
    width: 95%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5%;
}

.wishmodal-screen {
    border-radius: 14px;
    margin-left: 18%;
    height: 50%;
    width: 60%;
    background: gray;
    position: relative;
    top: 75px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.margin-onoo {
    height: 40%;
    font-size: 40px;
}

.margin-wish {
    display: flex;
    height: 20%;
    width: 40%;
    align-items: center;
    JUSTIFY-CONTENT: center;
    flex-direction: column;
}

.margin-point {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilgeeh-button {
    background-color: #83C5BE;
    height: 12%;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.wishDesc {
    background-color: #C4C4C4;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.wishaddmodal-full {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.wishaddmodal {
    border-radius: 14px;
    margin-left: 18%;
    gap: 40px;
    width: 50%;
    background: white;
    position: relative;
    top: 119px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    padding-bottom: 50px;
}

.add-wish-btn {
    border-radius: 5px;
    background: #212D5B;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 150px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#addwish {
    width: 251px;
}


/* >>>>>>>task */

.taskmodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.taskmodal2 {
    /* border-radius: 14px;
    margin-left: 18%;
    gap: 40px;
    width: 50%;
    background: white;
    position: relative;
    top: 119px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    padding-bottom: 50px; */
    background-color: white;
    border-radius: 14px;
    /* height: 645px; */
    width: 670px;
    top: 140px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.addTaskButton {
    background: #212D5B;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 235px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#TaskDes {
    height: 112px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.assignKidButton {
    background: #212D5B;
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 18px;
    justify-content: center;
    padding: 10px;
    width: 235px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
}

.assign-kids-modal-screen {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.assign-kids-modal-container {
    background-color: white;
    border-radius: 14px;
    height: fit-content;
    width: 400px;
    top: 140px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.wishinfomodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.wishmodal {
    border-radius: 14px;
    margin-left: 18%;
    gap: 40px;
    width: 670px;
    height: fit-content;
    background: white;
    position: relative;
    top: 119px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    padding-bottom: 50px;
}

.addWishPointButton {
    background: #212D5B;
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 235px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.taskinfomenubutton {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
}

.deleteModalScreen {
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

.deleteModal {
    border-radius: 14px;
    margin-left: 18%;
    gap: 40px;
    width: 500px;
    background: white;
    position: relative;
    top: 119px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    padding-bottom: 50px;
}

.tiimButton {
    background: #212D5B;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 115px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.uguiButton {
    background: white;
    border-radius: 10px;
    border: 1px solid #212D5B;
    color: #212D5B;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 115px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.finishedEditButton {
    background: #212D5B;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    padding: 10px;
    width: 235px;
    gap: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}


/* //safdbsijdwhfdv */

.content {
    height: 100%;
    /* border: 2px black solid; */
    background: #F4F4F4;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: flex-end;   */
    overflow-y: scroll;
    height: 500px;
    background-image: url('../assets/chat-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}

.user-pic {
    border: 1px black solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #message {} */

#screen {
    background-image: url('../assets/chat-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
    gap: 10px;
}

.chat-ind {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.chat-container {
    max-width: 400px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.user {
    font-size: 12px;
    line-height: 14px;
    color: #ABABAB;
}

.bubble {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #172662;
    color: white;
    display: flex;
    width: fit-content;
    justify-content: flex-end;
}

.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -15px;
    right: auto;
    top: 10px;
    bottom: auto;
    border: 15px solid;
    border-color: #14276E transparent transparent transparent;
}

.chat {
    background-color: #14276E;
    font-size: 14px;
    line-height: 23px;
    color: #F4F4F4;
}

.messenger {
    gap: 0px;
}

#chat {
    border: none;
    background-color: transparent;
    width: 100%;
    color: black;
    outline: none;
}

.send-chat-cont {
    background: #000F4A;
    padding: 15px;
    color: white;
}

.send-chat {
    padding: 10px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

#sendButn {
    border: none;
    color: #172662;
    background-color: transparent;
}

span[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

.groupcontainer {
    height: 100%;
    width: 100%;
}

.grouptopcontainer {
    font-size: 19.2;
    color: #172662;
    padding-top: 10px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.grouptopfield {
    display: flex;
    padding: 5px;
    width: auto;
    border-radius: 9px;
    border: 2px #172662 solid;
    justify-content: space-between;
    align-items: center;
}

.groupusercontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 83%;
}

.editicon {
    height: 18px;
    width: 16px;
    cursor: pointer;
}

.editiconn {
    cursor: pointer;
}

.groupuserbody {
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    width: 100%;
    border-radius: 7.4px;
    margin-top: 8px;
    background-color: white;
    padding: 10px;
}

.role {
    margin-left: 10px;
    color: #172662;
    font-size: small;
}

.username {
    margin-left: 10px;
    color: #172662;
    font-size: medium;
}

.roww {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.groupuserpoint {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #172662;
    font-weight: 900;
}

.addpoint {
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.384);
}

.inneraddpoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 30%;
    background: white;
    border-radius: 14px;
    color: #212d5b;
}

.confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    gap: 10px;
    width: 30%;
    border-radius: 9px;
    background: #212d5b;
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.columnnn {
    display: flex;
    flex-direction: column;
}

.pointinput {
    position: absolute;
    background: #212d5b00;
    margin-top: 10px;
    border: 0;
    height: 20px;
    margin-left: 25px;
    width: 40px;
}

.columm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
}

.sidemenu {
    display: none;
    flex-direction: column;
    height: 140px;
    width: 130px;
    position: absolute;
    border-radius: 12px;
    background: #ffffff;
    z-index: 999;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 8px -2px black;
    box-sizing: border-box;
}

.menuitem1 {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.menuitem2 {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.menuitem3 {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.flex {
    display: flex !important;
}

.selected {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 33.3%;
    width: 100%;
    background: #172662;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedd {
    height: 33.3%;
    width: 100%;
    background: #172662;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecteddd {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 33.3%;
    width: 100%;
    background: #172662;
    color: white;
}

.fit {
    height: auto;
    max-width: 35%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuitem1:hover {
    transition: 0.3s;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #172662;
    color: white;
}

.menuitem2:hover {
    transition: 0.3s;
    background-color: #172662;
    color: white;
}

.menuitem3:hover {
    transition: 0.3s;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #172662;
    color: white;
}

.groupcode {
    width: 90%;
    height: 100%;
}

.groupname {
    width: 100%;
    height: 100%;
}

/* arehufidwoqkjehrfijds */

.bg-1{
    position: absolute;
    top: -4px;
    left: 100px;
    opacity: 40%;
    z-index: 1;
}
.bg-2{
    position: absolute;
    top: 409px;
    left: 109px;
    opacity: 40%;
}

.bg-3{
    position: absolute;
    top: 530px;
    left: 230px;
    opacity: 40%;
}
.bg-4{
    position: absolute;
    top: 940px;
    left: 35px;
    opacity: 40%;
}
.bg-5{
    position: absolute;
    right: 0px;
    top: 40px;
    opacity: 40%;
}
.bg-6{
    position: absolute;
    right: 0px;
    top: 744px;
    opacity: 40%;
}
.bg-7{
    position: absolute;
    right: 300px;
    top: 941px;
    opacity: 40%;
}
/* slabkdhijklnjefdj */
.flex {
    display: flex;
}

.x {
    right: 5px;
    cursor: pointer;
}

.extratop {
    height: 5%;
    width: 100%;
    padding-top: 2px;
    padding-right: 3px;
    display: flex;
    justify-content: flex-end;
}

.none {
    display: none;
}

.historymodal {
    z-index: 9999999999999999999999999999999999;
    padding-top: 10%;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
}

.historycontainer {
    height: 40%;
    width: 50%;
    background-color: white;
    border-radius: 13px;
}

.historytop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 100%;
    height: 27%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

.historymid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75%;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    background-color: white
}

.historybot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66%;
    background-color: #f9f9f9;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.coi {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.kickconfirmmodal {
    z-index: 99999999999999999999999999999999999999999999999999999999999999;
    position: absolute;
    height: 200%;
    width: 100%;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
    padding-top: 13%;
}

.confirmmodal {
    height: 25%;
    width: 35%;
    background-color: white;
    border-radius: 13px;
}

.confirmtop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.hitler {
    font-weight: bold;
    font-size: 31.1175px;
    line-height: 36px;
    text-align: center;
    color: #232E6A;
}

.confirmmid {
    height: 20%;
    width: 100%;
    justify-content: center;
}

.confirmbot {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.historybot {}

.historytaskcontainer {
    height: 100%;
    width: 90%;
    overflow-y: scroll;
}