.login_signup {
    display: flex;
    width: 332px;
    align-items: center;
    justify-content: space-around;
}

.login {
    background-color: white;
    color: #212D69;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 105px;
    font-size: 17.68px;
    FONT-WEIGHT: 700;
    cursor: pointer;
    border-radius: 5px;
}

.yeah {
    display: flex;
    flex-direction: column;
}

.signup {
    background-color: #212D69;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 155px;
    font-size: 17.68px;
    border: solid white 1px;
    FONT-WEIGHT: 700;
    cursor: pointer;
    border-radius: 5px;
}

.text_box {
    width: 544px;
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    width: 544px;
    height: 168px;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.answer {
    height: 93px;
    width: 543px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.small {
    height: 40px !important;
}

.login_signup_2 {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.blueborder {
    border: solid 3px #212D69 !important;
}

.first {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

.second {
    margin-top: 148px;
    display: flex;
    justify-content: space-evenly;
    /* width: 1750px; */
    align-items: center;
}

.text_box_2 {
    width: 406px;
    height: 123px;
}

.question_2 {
    height: 50px;
    width: 211px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.answer_2 {
    width: 406px;
    height: 62px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;    
}

.third {
    display: flex;
    justify-content: space-evenly;
    margin-top: 172px;
    align-items: center;
}

.text_box_3 {
    width: 456px;
    height: 123px;
}

.question_3 {
    width: 227px;
    height: 45px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;   
    color: #081B56;
}

.answer_3 {
    width: 456px;
    height: 62px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;  
    color: #081B56;  
}

.pic_cont_1 {
    height: 594px;
    width: 1054px;
}
.pic_cont_2 {
    height: 487px;
    width: 790px;
}
.pic_cont_3 {
    height: 481.5990295410156px;
    width: 856px;
}

.smm {
    width: 100%;
}

.pos1 {
    position: absolute;
    top: 185px;
    left: -30px;
}
.pos2 {
    position: absolute;
    top: 185px;
    left: 790px;
}
.pos3 {
    position: absolute;
    top: 167px;
    left: 1400px;
}
.pos4 {
    position: absolute;
    top: 841px;
    left: 347px;
}
.pos5 {
    position: absolute;
    top: 1140px;
    left: 30px;
}
.pos6 {
    position: absolute;
    top: 1441px;
    left: 1454px;
}
.pos7 {
    position: absolute;
    top: 1724px;
    left: 611px;
}
.pos8 {
    position: absolute;
    top: 2037px;
    left: -80px;
}