.login_signup {
    display: flex;
    width: 332px;
    align-items: center;
    justify-content: space-around;
}

.login {
    background-color: white;
    color: #212D69;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 105px;
    font-size: 17.68px;
    FONT-WEIGHT: 700;
    cursor: pointer;
    border-radius: 5px;
}

.yeah {
    display: flex;
    flex-direction: column;
}

.signup {
    background-color: #212D69;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 155px;
    font-size: 17.68px;
    border: solid white 1px;
    FONT-WEIGHT: 700;
    cursor: pointer;
    border-radius: 5px;
}

.text_box {
    width: 544px;
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    width: 544px;
    height: 168px;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.answer {
    height: 93px;
    width: 543px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.small {
    height: 40px !important;
}

.login_signup_2 {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.blueborder {
    border: solid 3px #212D69 !important;
}

.first {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

.second {
    margin-top: 148px;
    display: flex;
    justify-content: space-evenly;
    /* width: 1750px; */
    align-items: center;
}

.text_box_2 {
    width: 406px;
    height: 123px;
}

.question_2 {
    height: 50px;
    width: 211px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.answer_2 {
    width: 406px;
    height: 62px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;    
}

.third {
    display: flex;
    justify-content: space-evenly;
    margin-top: 172px;
    align-items: center;
}

.text_box_3 {
    width: 456px;
    height: 123px;
}

.question_3 {
    width: 227px;
    height: 45px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;   
    color: #081B56;
}

.answer_3 {
    width: 456px;
    height: 62px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;  
    color: #081B56;  
}

.pic_cont_1 {
    height: 594px;
    width: 1054px;
}
.pic_cont_2 {
    height: 487px;
    width: 790px;
}
.pic_cont_3 {
    height: 481.5990295410156px;
    width: 856px;
}

.smm {
    width: 100%;
}

.pos1 {
    position: absolute;
    top: 185px;
    left: -30px;
}
.pos2 {
    position: absolute;
    top: 185px;
    left: 790px;
}
.pos3 {
    position: absolute;
    top: 167px;
    left: 1400px;
}
.pos4 {
    position: absolute;
    top: 841px;
    left: 347px;
}
.pos5 {
    position: absolute;
    top: 1140px;
    left: 30px;
}
.pos6 {
    position: absolute;
    top: 1441px;
    left: 1454px;
}
.pos7 {
    position: absolute;
    top: 1724px;
    left: 611px;
}
.pos8 {
    position: absolute;
    top: 2037px;
    left: -80px;
}

.tutorial {
    display: flex;
    margin-top: 400px;
    align-items: center;
    justify-content: center;
}

.fourth {
    display: flex;
    justify-content: space-evenly;
    margin-top: 357px;
    align-items: center;
}

.text_box_4 {
    width: 415px;
    height: 123px;
}

.pic_cont_4 {
    height: 531.5153198242188px;
    width: 713.9998168945312px;
}

.question_4 {
    height: 45px;
    width: 261px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.answer_4 {
    height: 62px;
    width: 415px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.fifth {
    display: flex;
    justify-content: space-evenly;
    margin-top: 356px;
    align-items: center;
}

.pic_cont_5 {
    height: 387.9842834472656px;
    width: 797.0004272460938px;
}

.text_box_5 {
    width: 434px;
    height: 154px;   
}

.question_5 {
    height: 45px;
    width: 189px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.answer_5 {
    height: 93px;
    width: 434px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.sixth {
    display: flex;
    justify-content: space-evenly;
    margin-top: 362px;
    align-items: center;
}

.pic_cont_6 {
    height: 284.1739196777344px;
    width: 361.0000915527344px;
}

.text_box_6 {
    width: 532px;
    height: 183px;   
}

.question_6 {
    height: 41.629215240478516px;
    width: 245.03225708007812px;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;    
}

.answer_6 {
    height: 114px;
    width: 532px;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;    
    color: #081B56;
}


.seventh {
    display: flex;
    justify-content: space-evenly;
    margin-top: 364px;
    align-items: center;
}

.pic_cont_7 {
    height: 297.4388732910156px;
    width: 469.3087158203125px;
}

.text_box_7 {
    width: 371px;
    height: 123px;   
}

.question_7 {
    height: 45px;
    width: 280px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;    
    color: #081B56;
}

.answer_7 {
    height: 62px;
    width: 371px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #081B56;
}

.eighth {
    display: flex;
    justify-content: space-evenly;
    margin-top: 374px;
    align-items: center;
}

.pic_cont_8 {
    height: 278px;
    width: 798px;
}

.text_box_8 {
    width: 444px;
    height: 209px;   
}

.question_8 {
    height: 38px;
    width: 336px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;    
    color: #081B56;
}

.answer_8 {
    height: 155px;
    width: 444px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;    
    color: #081B56;
}

.ninth {
    margin-top: 321px;
}

.position {
    position: relative;
    margin-left: 730px;
    bottom: 90px;
}