.loader {
    display: flex;
    z-index: 99999999999999999999999999;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    height: 110%;
    width: 100%;
    background: rgba(0, 0, 0, 0.356);
}

.spin {
    height: 120px;
    width: 120px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}