body {
    margin: 0;
    padding: 0;
    background: rgb(56, 93, 209);
    background: linear-gradient(180deg, rgba(56, 93, 209, 1) 0%, rgba(166, 131, 195, 1) 50%, rgba(255, 210, 189, 1) 100%);
    
}

.none {
    display: none;
}

.backpic {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


.container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    align-content: initial;
    padding-bottom: 66px;
}

.pro-container {
    height: 420px;
    width: 771px;
    border-radius: 14px;   
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    height: 5%;
    background: #F6F6F6;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    display: flex;
    align-items: center;
}

.middle {
    height: 25%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.edit {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    background: rgb(124, 119, 119);
    background: linear-gradient(0deg, rgba(124, 119, 119, 0.466) 24%, rgba(254, 254, 254, 1) 24%);
}

.profile {
    position: relative;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.prohover {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.137);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.534);
    font-size: medium;
}

.proedit {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

.columncontainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name {
    border: 1px black solid;
    display: flex;
    align-items: center;
    margin-left: 60px;
    border-radius: 10px;
    height: 25px;
    width: 160px;
    background: #E2E2E2;
}

.email {
    border: 1px black solid;
    display: flex;
    align-items: center;
    margin-left: 60px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
    background: #E2E2E2;
}

.role {
    justify-content: center;
    border: 1px black solid;
    display: flex;
    align-items: center;
    margin-left: 60px;
    border-radius: 10px;
    height: 25px;
    width: 120px;
    background: #E2E2E2;
}

.phone {
    border: 1px black solid;
    display: flex;
    align-items: center;
    margin-left: 60px;
    border-radius: 10px;
    height: 25px;
    width: 120px;
    background: #E2E2E2;
}

.bottom {
    height: 70%;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background: #E2E2E2;
}

.bottomtop {
    height: 10%;
}

.bot {
    margin-left: 50px;
    margin-top: 30px;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.taskcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 84%;
    width: 90%;
    overflow-y: scroll;
}

.taskbody {
    max-height: 65px;
    min-height: 65px;
    width: 80%;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-radius: 14px;
    background: white;
    border: 2px rgba(128, 128, 128, 0.473) solid;
}

.date {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 10px;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.418);
}

.taskitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    background: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom: rgba(128, 128, 128, 0.473) 2px solid;
}

.item {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit1 {
    cursor: pointer;
    position: absolute;
    margin-left: 140px;
}

.edit2 {
    position: absolute;
    margin-left: 180px;
    cursor: pointer;
}

.edit4 {
    cursor: pointer;
    position: absolute;
    margin-left: 100px;
}

.row {
    display: flex;
    flex-direction: row;
}

.down {
    margin-top: 5px;
    margin-left: 50px;
    font-size: smaller;
}

.drop {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 120px;
    background: gray;
    border-radius: 5px;
}

.none {
    display: none;
}

.dropitem {
    width: 100%;
    height: 33%;
    border-radius: 5px;
    border-bottom: black solid 1px;
}

.dropitem:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
}

.qwe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}


.flex {
    display: flex;
    justify-content: space-evenly;
}

.middle2 {
    display: flex;
    justify-content: center;
}

.Header {
    width: 100%;
    height: 98px;
    background: #212D69;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
}

.qwer {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.daalgavar {
    font-size: large;
}

.family {
    position: absolute;
    color: white;
    font-size: xx-large;
    left: 45%;
    top: 30%;
}

.proicon {
    position: absolute;
    left: 95%;
    top: 30%;
}

.cont {
    width: 410px;
    height: 135px;
    border-radius: 50%;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondary {
    height: 52.6px;
    width: 52.6px;
    
}

.baby {
    width: 52.6px;
    height: 52.6px;
}

.primary {
    height: 109px;
    width: 109px;
}
