body {
    margin: 0;
    padding: 0;
    background: rgb(56, 93, 209);
    background: linear-gradient(180deg, rgba(56, 93, 209, 1) 0%, rgba(166, 131, 195, 1) 50%, rgba(255, 210, 189, 1) 100%);
}

.none {
    display: none !important;
}

.backpic {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Back {
    font-size: 25px;
    color: #172662;
    font-weight: 450;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 40px;
    transform: translate(0px, 10px);
}

.close-button {
    font-size: 43px;
    color: #172662;
    cursor: pointer;
}

.input {
    border-bottom: 1.37px solid #172662;
    align-items: center;
    color: #283E93;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13.5px;
    margin: 10px;
    padding: 5px;
    width: 220px;
}

.input-small {
    font-size: 12px;
    color: #172662;
}

.row {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.pro-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(114px, -140px);
    display: flex;
    justify-self: center;
    align-self: center;
}


.blue_button {
    border: none;
    height: 45px;
    width: 140px;
    background-color: #232E6A;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.white_button {
    border: none;
    height: 45px;
    width: 140px;
    background-color: white;
    border-radius: 5px;
    color: #232E6A;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #232E6A;
}

.information {
    height: 170px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 99vw;
    align-items: center;
    flex-wrap: wrap;
}

.pro-container {
    height: 570px;
    width: 1000px;
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}


/* .top {
    height: 5%;
    background: #F6F6F6;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    display: flex;
    align-items: center;
} */

.edit {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    background: rgb(124, 119, 119);
    background: linear-gradient(0deg, rgba(124, 119, 119, 0.466) 24%, rgba(254, 254, 254, 1) 24%);
}

.profile {
    position: relative;
    height: 109px;
    width: 109px;
    border-radius: 50%;
    border: 1px solid black;
}

.prohover {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.137);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.534);
    font-size: medium;
}

.proedit {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.bottomtop {
    height: 10%;
}

.bot {
    margin-left: 50px;
    margin-top: 30px;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.taskcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 84%;
    width: 90%;
    overflow-y: scroll;
}

.taskbody {
    max-height: 65px;
    min-height: 65px;
    width: 80%;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-radius: 14px;
    background: white;
    border: 2px rgba(128, 128, 128, 0.473) solid;
}

.date {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 10px;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.418);
}

.taskitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    background: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom: rgba(128, 128, 128, 0.473) 2px solid;
}

.item {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.down {
    margin-top: 5px;
    margin-left: 50px;
    font-size: smaller;
}

.drop {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 120px;
    background: gray;
    border-radius: 5px;
}


.dropitem {
    width: 100%;
    height: 33%;
    border-radius: 5px;
    border-bottom: black solid 1px;
}

.dropitem:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
}

.qwe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.middle2 {
    display: flex;
    justify-content: center;
}

.Header {
    width: 100%;
    height: 98px;
    background: #212D69;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
}

.qwer {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.daalgavar {
    font-size: large;
}

.family {
    position: absolute;
    color: white;
    font-size: xx-large;
    left: 45%;
    top: 30%;
}

.proicon {
    position: absolute;
    left: 95%;
    top: 30%;
}


.cont {
    width: 410px;
    height: 135px;
    border-radius: 50%;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondary {
    height: 52.6px;
    width: 52.6px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.primary {
    height: 109px;
    width: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    width: 927px;
    height: 64px;
    display: flex;
    position: absolute;
    top: 294px;
    align-items: center;
    justify-content: space-between;
}

.cont-hidden {
    width: 410px;
    height: 135px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.size {
    font-size: 30px;
    cursor: pointer;
}

.row_2 {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
}