    body {
        margin: 0px;
    }
    
    .Header {
        width: 100vw;
        height: 98px;
        background-color: transparent;
        top: 0;
        left: 0;
        position: relative;
        margin-bottom: 100px;
    }
    
    .Logo {
        border-radius: 50%;
        height: 58px;
        width: 58px;
        background-color: darkgray;
    }
    
    .logo_header {
        position: absolute;
        top: 20px;
        left: 35px;
    }
    
    .footer {
        width: 100vw;
        height: 505px;
        background-color: aliceblue;
        position: relative;
        /* top: 149px; */
    }
    
    .logo_footer {
        display: table;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 73px;
    }
    
    .aboutus {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        color: black;
        font-weight: bold;
        position: relative;
    }
    
    .tuhai {
        top: 170px;
    }
    
    .holboo {
        top: 170px;
    }
    
    .asuultuud {
        top: 170px;
    }
    
    .longline {
        width: 676px;
        border: 1px solid #A9A9A9;
        display: table;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 243px;
    }
    
    .logo {
        width: 8px;
        height: 8px;
        position: relative;
        top: 248px;
    }
    
    .twenty1 {
        font-family: 'Roboto', sans-serif;
        color: black;
        position: relative;
        font-size: 9.15px;
        top: 247px;
    }
    
    .flex {
        display: flex;
        justify-content: space-evenly;
    }
    
    .middle {
        display: flex;
        justify-content: center;
    }
    /* aaaaaaaaaa */
    
    .big-container {
        /* position: relative; */
        display: flex;
        background-color: aliceblue;
        width: 100vw;
        height: 774px;
    }
    
    .small-container-1 {
        width: 50%;
        height: 774px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #7D7D7D;
        border-bottom-right-radius: 5%;
        border-top-right-radius: 5%;
        position: absolute;
        /* transition: 3s; */
        /* transition: linear; */
    }
    
    .text {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 352px;
        font-size: 25px;
        margin-bottom: 30px;
        width: fit-content;
    }
    
    .text-margin {
        margin-bottom: 50px;
    }
    
    .groupjoin-button {
        width: 200px;
        height: 40px;
        font-size: 20px;
        background-color: #C4C4C4;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        color: black;
    }
    
    .small-container-2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .small-container-margin {
        margin-bottom: 40px;
    }
    
    .small-container-text {
        font-size: 35px
    }
    
    .input-groupname {
        height: 30px;
        width: 321px;
        color: black;
    }
    
    .urgelj-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        height: 50px;
        width: 213px;
        border-radius: 35px;
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    .small-container-3 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .small-container-4 {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #7D7D7D;
        border-bottom-left-radius: 5%;
        border-top-left-radius: 5%;
        /* transition: 3s; */
    }
    
    .screen-1 {
        display: flex;
        width: 100vw;
        height: 774px;
        /* transition: 3s; */
    }
    
    .screen-2 {
        display: flex;
        width: 100vw;
        height: 774px;
        /* transition: 3s; */
    }
    
    .displaychange {
        /* display: none; */
        transition: 3s;
    }
    
    .background {
        height: 774px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .negdeh {
        /* background-color: pink; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .uusgeh {
        /* background-color: pink; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .group-form {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .container {
        height: 100vh;
        width: 100%;
        position: relative;
        background-size: cover;
        background-image: url('https://images.unsplash.com/photo-1497942304796-b8bc2cc898f3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmludGFnZSUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
        overflow-x: hidden;
    }
    
    .group-create {
        width: 100%;
        background-color: transparent;
        position: absolute;
        transition: 1s left ease;
        left: 0;
        display: flex;
        justify-content: space-around !important;
    }
    
    .group-join {
        width: 100%;
        background-color: transparent;
        position: absolute;
        transition: 1s left ease;
        display: flex;
        justify-content: space-around !important;
    }
    
    .group-toggled {
        left: 0;
        transition: 1s left ease;
    }
    
    .group-hide-left {
        left: -100%;
        transition: 1s left ease;
    }
    
    .group-hide-right {
        left: calc(100% + 1px);
        transition: 1s left ease;
    }
    
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .joingroup-form {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    
    .creategroup-form {
        color: white;
        /* font-family: monospace; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }