body{
    margin:0px;
}
.Header {
    width: 100vw;
    height: 98px;
    background-color: lightgray;
    top: 0;
    left: 0;
    position: absolute;
}

.Logo {
    border-radius: 50%;
    height: 58px;
    width: 58px;
    background-color: darkgray;
}

.logo_header {
    position: absolute;
    top: 20px;
    left: 35px;
}

.Signup {
    display: table;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 715px;
    width: 676px;
    top: 118px;
    border-radius: 20px;
    background-color: lightgray;
}
.Burtgel_uusgeh {
    display: table;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 25px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.text {
    Width: 31px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    white-space: nowrap;
    display: flex;
}
.ner {
    left: 93px;
    top: 102px;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 212px;
}

.ner_L {
    position: relative;
    left: 93px;
    top: 102px;
}

.Email {
    left: 93px;
    top: 145px;
}

.Email_L {
    position: relative;
    left: 93px;
    top: 145px;
}

.Password {
    left: 93px;
    top: 239px;
}

.Password_L {
    position: relative;
    left: 93px;
    top: 239px;
}

.Password_again {
    top: 200px;
    left: 355px;
}

.Password_again_L {
    position: relative;
    top: 182px;
    left: 355px;
}

.Back {
    width: 128px;
    height: 45px;
    border-radius: 8.58px;
    border: 1.22543px solid #000000;
    background-color: white;
    position: relative;
    top: 281.38px;
    left: -53px;
    cursor: pointer;
}

.button_text {
    font-size: 22.48px;
    font-family: 'Roboto', sans-serif;
}

.Continue {
    cursor: pointer;
    position: relative;
    top: 281.38px;
    left: -30px;
    width: 216px;
    height: 45px;
    border-radius: 8.58px;
    border: 1.22543px solid #000000;
    background-color: black;
    color: white;
}

.line {
    width: 199px;
    border: 1px #858585 solid;
    position: relative;
}
.one {
    top: 323px;
    left: 115px;
}

.or {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #858585;
    width: 38px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 315px;
}
.two {
    top: 306px;
    left: 358px;
}

.footer {
    width: 100vw;
    height: 505px;
    background-color: #C4C4C4;
    position: relative;
    top: 149px;

}

.logo_footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 73px;
}

.aboutus {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    position: relative;
}

.tuhai {
    top: 170px;
}

.holboo {
    top: 170px;
}

.asuultuud {
    top: 170px;
}

.longline {
    width: 676px;
    border: 1px solid #A9A9A9;
    display: table;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 243px;
}

.logo {
    width: 8px;
    height: 8px;
    position: relative;
    top: 248px;
}
.twenty1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    position: relative;
    font-size: 9.15px;
    top: 247px;
}

.container {
    width: 220px;
    height: 53px;
    border-radius: 9px;
    position: relative;
}

.blue {
    background-color: #2E399E;
    top: 373px;
    left: 115px;
}

.white {
    background-color: white;
    top: 373px;
    left: 123px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.middle {
    display: flex;
    justify-content: center;
}

.face {
    color: white;
    position: relative;
    top: 11px;
    left: -92px;
}

.google {
    width: 24px;
    height: 24px;
    position: relative;
    top: 11px;
    left: -91px;
}

.connect {
    font-family: 'Roboto', sans-serif;
    font-size: 13.39px;
    position: relative;
}

.fb {
    color: white;
    bottom: 12px;
    left: 14px;
}

.gg {
    bottom: 12px;
    left: 10px;
}

.position {
    position: relative;
    top: 4px;
    left: 1px;
}